body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #00897f;
  text-transform: uppercase;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
}

h3 span {
  text-transform:uppercase;
}

a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  color: #f26522;
  font-weight: 700;
}

.container {
  width: 75%;
  margin: 80px auto;
}

.align-center {
  text-align: center;
}

/* header styles */
header {
  padding: 20px;
  height: 40px;
}

header h1 {
  float: left;
  font-size: 1.5em;
  width: 50%;
}

nav {
  width: 50%;
  float: right;
  text-align: right;
}

nav ul li {
  display: inline;
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
}

.hero-image {
  background: url("../images/kats-hero.jpg") center center no-repeat;
  background-size: cover;
  height: 50%;
}

/* main section styles */
.intro-copy {
  margin: 80px auto;
}

.space-below {
  margin: 0 0 45px 0;
}

.intro-copy h3 {
  margin: 0;
}

.about-box {
  background-color: #eeeeee;
  display: inline-block;
  padding: 30px;
  width: 40%;
}

.margin-right {
  margin-right: 60px;
}

.cat-images {
  margin: 80px auto;
  text-align: center;
}

.cat-images img {
  border-radius: 50%;
  width: 250px;
  height: auto;
}

/*contact section styles */
.contact {
  background-color: #eeeeee;
  padding-top: 1px;
}

.contact-box {
  background-color: #ffffff;
  display: inline-block;
  padding: 30px;
  width: 40%;
  vertical-align: top;
}

.map {
  background: url("../images/kats-map.jpg") center center no-repeat;
  background-size: cover;
  height: 50%;
}

footer {
  background-color: #00897f;
  text-align: center;
  height: 125px;
  color: white;
  line-height: 125px;
}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
